<div class="login-form login-forgot">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{"AUTH.RESET.TITLE" | translate}}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{"AUTH.RESET.DESC" | translate}}
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="errorState === errorStates.HasError">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">The otp detail is incorrect</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group OTP-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
        formControlName="otp" placeholder="OTP" name="otp" autocomplete="off" [ngClass]="{
          'is-invalid': resetPasswordForm.controls['otp'].invalid
        }" />

      <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: OTP is required,
          control: resetPasswordForm.controls['otp']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: OTP should have at least 4 symbols,
          control: resetPasswordForm.controls['otp']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: OTP should have maximum 6 symbols,
          control: resetPasswordForm.controls['otp']
        }"></ng-container> -->
    </div>
    <!--end::Form group OTP-->
    <!--begin::Form group NEW_PASSWORD-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
        formControlName="newPassword" placeholder="New Password" name="newPassword" autocomplete="off" [ngClass]="{
          'is-invalid': resetPasswordForm.controls['newPassword'].invalid
        }" />

      <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: newPassword is required,
          control: resetPasswordForm.controls['newPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: newPassword should have at least 3 symbols,
          control: resetPasswordForm.controls['newPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: newPassword should have maximum 20 symbols,
          control: resetPasswordForm.controls['newPassword']
        }"></ng-container> -->
    </div>
    <!--end::Form group NEW_PASSWORD-->
    <!--begin::Form group CONFIRM_PASSWORD-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
        formControlName="confirmPassword" placeholder="Confirm Password" name="confirmPassword" autocomplete="off"
        [ngClass]="{
          'is-invalid': resetPasswordForm.controls['confirmPassword'].invalid
        }" />

      <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: confirmPassword is required,
          control: resetPasswordForm.controls['confirmPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: confirmPassword should have at least 3 symbols,
          control: resetPasswordForm.controls['confirmPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: confirmPassword should have maximum 20 symbols,
          control: resetPasswordForm.controls['confirmPassword']
        }"></ng-container> -->
      <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'confirmedValidator',
          message: confirmPassword and password should match,
          control: resetPasswordForm.controls['confirmPassword']
        }"></ng-container> -->
    </div>
    <!--end::Form group CONFIRM_PASSWORD-->
    <!--begin::Form footer-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button type="submit" id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
        {{"AUTH.GENERAL.SUBMIT_BUTTON" | translate}}
      </button>
      <a routerLink="/auth/login" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        {{"AUTH.GENERAL.CANCEL_BUTTON" | translate}}
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form footer-->
    <div></div>
  </form>
  <!--end::Form-->

  <!-- <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="card card-custom bgi-no-repeat gutter-b" style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      "> -->
      <!--begin::Body-->
      <!-- <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">OTP is correct!</h3>
          <p class="text-white font-size-lg">
            Your Password is changed successfuly !<br />
          </p>
          <a routerLink="/auth/login" class="swal2-confirm btn font-weight-bold btn-light-primary">
            Ok !
          </a>
        </div>
      </div> -->
      <!--end::Body-->
    <!-- </div>
  </ng-container> -->
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <!-- <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container> -->
</ng-template>